{% if template == 'product' %} 
<div class='giftwrap' id='zeZCMue6Cqi4s' page='product'>
</div>
{% else if template == 'cart' %}
<div class='giftwrap' id='zeZCMue6Cqi4s' page='cart'>
</div>
{% endif %}
<script src='https://zestardshop.com/shopifyapp/zestard_gift_wrap/public/js/giftwrap.js'></script>