<!-- /templates/page.fullwidth.liquid -->



<section class="page">

		<div class="shogun-root" data-shogun-id="5ea99700c25093005e7853e4" data-shogun-site-id="8e5d21a1-4e54-470e-925b-c9516d3193f7" data-shogun-page-id="5ea99700c25093005e7853e4" data-shogun-page-version-id="5eb5787081b513004f8944c7" data-shogun-platform-type="shopify" data-shogun-variant-id="5eb5787081b513004f8946ae" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:900">

<link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/5eb5787081b513004f8946ae.css">

<script type="text/javascript" src="https://lib.getshogun.com/lazysizes/2.0.0/shogun-lazysizes.js" async></script>



<div class="shg-c shogun-image-container    shg-align-center" style="" id="s-96d06948-c982-41cf-85e9-3b5e036c8a93">
  
    
      <img src="https://i.shgcdn.com/6ff3cf34-0d13-4912-8135-26cb16ad9143/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image ">
    
  
  
    <div class="shogun-image-content shogun-image-content-not-linked">
      <div>
        <div id="s-cd915029-aa06-4f32-bde4-6963716b6fe2" class="shg-c  ">
  <div class="shg-rich-text shg-theme-text-content">
<p><span style="font-size: 30px;">The Rasa Collection</span></p>
<p><span style="font-size: 18px;"><span style="font-weight: 400;">Rasa is a special collection born from Anna Beck’s mission to connect through the beauty of artisanship while pushing the boundaries of design. Named for the Hindu philosophy of the essence of art that creates an undefinable emotion, Rasa explores feeling and emotion just as much as it does shape and movement. Crafted entirely by hand of precious metal and natural stones in our workshop in Bali, these timeless pieces are modern heirlooms. </span></span></p>
</div>

</div>

      </div>
    </div>
  
  
</div>

<script type="text/javascript">
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-96d06948-c982-41cf-85e9-3b5e036c8a93' })
</script>

<div id="s-3cca9ad4-d0b0-4eb1-93fb-bd62bbcfa705" class="shg-c  shg-align-center">
  <div class="shogun-heading-component">
  <h2>
    
      The Collection
    
  </h2>
</div>
</div>
      </section>
 {% section 'collection' %}

<script>
  window.theme = window.theme || {};
  theme.collectionStrings = {
    sortBy: '{{ collection.sort_by | default: collection.default_sort_by }}'
  }
</script>
